.toolbar-spacer{
    flex: 1 1 auto;
}

.margin-right{
    margin-right: 10px;
}

.logo{
    margin-top: 10px;
    max-width: 170px;
}

@media only screen and (min-width: 600px) {
    .logo{
        margin-top: 20px;
        max-width: 300px;
    }
}

.mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    overflow: visible;
    z-index: 1000;
    background: whitesmoke;
    color: #1e3d59;
  }

