.mapclass{
    max-width: 500px;
    max-height: 500px;
}

.chartclass{
    width:20%;
    overflow:auto;
}

.headspacing{
    margin-top: 70px;
   }

.topspacer{
    margin-top: 20px;
}

.x{
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}

.container{
    float:left;
    margin:0;

}